.navbar-row {
    height: 10vh;
    top: 0;
    padding-top: 30px;
    position: absolute;
    right: 0;
    padding-right: 30px;
    z-index: 20;
}

.results-row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
}


.path_button {
    margin: 100px 0px;
  }

  .login_btn {
    padding:20px;
    font-size: 20px;
    border-radius: 50px;
    background: linear-gradient(145deg, #1b1515, #171212);
    box-shadow:  15px 15px 45px #0a0808,
                 -15px -15px 45px #282020;
  
    color: white;
  }
  
  .login_btn:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px var(--lighter-green), 0 0 15px var(--lighter-green), 0 0 20px var(--lighter-green), 0 0 30px  var(--lighter-green);
  }
  
  .login_btn:active {
    border-radius: 56px;
    background: #191414;
    box-shadow: inset 15px 15px 45px #0a0808,
                inset -15px -15px 45px #282020;
  }

  .title {
    color: var(--spotify-green);
    text-align: left;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
  }
  
  .playlist-title {
    color: white;
    font-weight: 600;
  }
  
  .selection {
    border-radius: 10px;
    background: #191414;
    box-shadow: inset 20px 20px 60px #0a0808,
                inset -20px -20px 60px #282020;
    text-align: left;
    padding:10px 0px 10px 10px;
    overflow-y: scroll;
    height: 50vh;
}