.neumo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background: #191414;
    justify-content: center;
    animation: loaders1 2s infinite;
}

.neumo:before,
.neumo:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: #191414;

}

.neumo:before {
    width: 70%;
    height: 70%;
    animation: loaders1 2.5s infinite;
}

.neumo:after {
    width: 35%;
    height: 35%;
    animation: loaders1 3s infinite;
}

@keyframes loaders1 {
    0% {
        box-shadow: 4px 4px 6px 0 #fff,
            -4px -4px 6px 0 rgba(174, 174, 192, .2),
            inset -4px -4px 6px 0 #fff,
            inset 4px 4px 6px 0 rgba(174, 174, 192, .2);
        animation-timing-function: ease-in;
    }

    50% {
        box-shadow: -4px -4px 6px 0 #fff,
            4px 4px 6px 0 rgba(174, 174, 192, .2),
            inset 4px 4px 6px 0 #fff,
            inset -4px -4px 6px 0 rgba(174, 174, 192, .2);
        animation-timing-function: ease-out;
    }

    100% {
        box-shadow: 4px 4px 6px 0 #fff,
            -4px -4px 6px 0 rgba(174, 174, 192, .2),
            inset -4px -4px 6px 0 #fff,
            inset 4px 4px 6px 0 rgba(174, 174, 192, .2);
        animation-timing-function: ease-in;
    }
}