@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans&display=swap');

:root {
  --spotify-black: #191414;
  --spotify-green: #1DB954;
  --lighter-green: #1ED760;
  --white: #FFFFFF;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: var(--spotify-black);
}