{% extends "base.html" %}
{% block head %}
	{{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">

{% endblock %}


{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            // console.log('reorder')
            e.preventDefault()
            $.getJSON('/reorder',
                function(data) {
                  console.log(data)
            });
            return false;
          });
        });
</script>

<div class='message'>
  <div class="path_button"><a href="/merge" class="login_btn"><i class="fas fa-stop"></i>Merge Playlists</a></div>
  <div class="path_button"><a href="/split" class="login_btn"><i class="fas fa-th-large"></i>Split Playlist</a></div>
  <div class="path_button"><a href="/reorder" class="login_btn"><i class="fas fa-redo-alt"></i>Reorder Playlists</a></div>
</div>
{% endblock %}



