<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Generator 💬</title>
    </head>
    <body>
        <div class="content">
            <h1>Générateur SPARQL - Modèle neuronal</h1>
            <form action="/" method="post">
                <input type="text" id="question" name="question" placeholder="Entrez votre question..."><br><br>
                <button type="submit">Traduire!</button>
            </form>

            {% if condition %}
            <div class="res">
                <div class="res_child erreur">{{ error }}</div>
                <div class="res_child rappel_qst">{{ question }}</div>
                <div class="res_child sparql">{{ translation }}</div>
            </div>
            {% endif %}

            <div class='exemples'>
                <p class='underlined'>Exemples de questions auxquelles le modèle neuronal répond:</p>
                <ul>
                    <li>Quels sont les livres écrits par Madeleine Gagnon?</li>
                    <li>Combien de prix a gagné Michel Lederer?</li>
                    <li>Est-ce que Madeleine Gagnon a écrit Les Belles-Soeurs?</li>
            </div>
        </div>
    </body>
</html>